body {
	margin: 0;
	text-align: center;
}
input {
	width: 200px;
}
form {
	border: 1px solid black;
	margin: 100px;
	padding: 50px 50px;
}
label {
	font-weight: bold;
}
a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: black;
}
